
.footer {
    background-color: #333;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    position: relative;
}

p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 600px) {
     p {
        font-size: 14px;
    }
}